<div class="my-box">
  <h2 class="text-central">Math expression interpreter</h2>
  <form #calculatorForm="ngForm" (ngSubmit)="calculateExpression(input.value)">
    <div class="form-group">
      <label for="calculate-expression-input">Calculate expression</label>
      <input type="input" class="form-control" #input id="calculate-expression-input" placeholder="1+2*(9+1)">
      <small class="error text-danger" *ngIf="isError$">
        {{ errorMessage$ }}
      </small>
      <small class="error text-danger" *ngIf="invalidExpression$">
        Invalid expression
      </small>
      <small class="error text-danger" *ngIf="emptyExpression$">
        Expression can't be empty
      </small>
      <small id="emailHelp" class="form-text text-muted">Available operators: +-*/().</small>
    </div>
    <button type="button" (click)="calculateExpression(input.value)" class="btn btn-primary ">Calculate</button>
  </form>
  <hr>
  <div class="row">
    <div class="col-md-12" *ngIf="result$ != '-'">
      Result : <span>{{ expression$ }}</span> <span> = {{ result$ }}</span>
      <button class="btn btn-primary float-right" (click)="saveExpression(expression$)">Save</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h5>Saved results:</h5>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Expression</th>
          <th scope="col">Result</th>
          <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of expressionList$">
          <th scope="row">{{ row.expression }}</th>
          <td>{{ row.result }}</td>
          <td><button class="btn btn-danger btn-sm" (click)="deleteExpression(row.id)">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <small class="float-right">Powered by Dawid Firląg</small>
    </div>
  </div>
</div>

